* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s ease-out;
  font-family: "Montserrat", sans-serif;
}

html {
  font-size: 10px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  width: 100%;
}

main {
  min-height: 95vh;
  width: 100%;
  background: linear-gradient(#6d28d9, #000000);
  display: flex;
  justify-content: center;
  align-items: center;
}
main .wrapper_main {
  width: 500px;
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  overflow: hidden;
}
@media (max-width: 768px) {
  main .wrapper_main {
    width: 300px;
    height: 500px;
  }
}
main .wrapper_main .main__information {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 150px;
  background: #7dd3fc;
  border-radius: 20px;
}
@media (max-width: 768px) {
  main .wrapper_main .main__information {
    height: 100px;
  }
}
main .wrapper_main .main__information .information__buttons {
  height: 100%;
  width: 25%;
  border-radius: 10px;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
@media (max-width: 768px) {
  main .wrapper_main .main__information .information__buttons {
    font-size: 1rem;
  }
}
main .wrapper_main .main__information .information__buttons .information__buttons__start {
  cursor: pointer;
  background: #fde047;
  width: 100%;
  height: 40%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
main .wrapper_main .main__information .information__buttons .information__buttons__start:hover {
  background-color: #f472b6;
  transform: scale(1.1);
}
main .wrapper_main .main__information .information__buttons .information__buttons__top {
  cursor: pointer;
  background: #fde047;
  width: 100%;
  height: 40%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
main .wrapper_main .main__information .information__buttons .information__buttons__top:hover {
  background-color: #f472b6;
  transform: scale(1.1);
}
main .wrapper_main .main__information .information__sound {
  width: 65px;
  height: 50%;
  border-radius: 10px;
  cursor: pointer;
  background: #fde047;
  background-image: url(../svg/sound.svg);
  background-repeat: no-repeat;
  background-position: center;
}
main .wrapper_main .main__information .information__sound:hover {
  background-color: #f472b6;
  transform: scale(1.1);
}
@media (max-width: 768px) {
  main .wrapper_main .main__information .information__sound {
    width: 40px;
  }
}
main .wrapper_main .main__information .information__score {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 2rem;
}
@media (max-width: 768px) {
  main .wrapper_main .main__information .information__score {
    font-size: 1.5rem;
  }
}
main .wrapper_main .main__information .information__score .information__score__best {
  text-align: center;
  background: #fde047;
  border-radius: 10px;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
main .wrapper_main .main__information .information__score .information__score__current {
  text-align: center;
  background: #fde047;
  border-radius: 10px;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
main .wrapper_main .main__field {
  padding: 10px;
  background: #7dd3fc;
  width: 500px;
  height: 500px;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-radius: 20px;
}
@media (max-width: 768px) {
  main .wrapper_main .main__field {
    width: 300px;
    height: 300px;
  }
}
main .wrapper_main .main__field .game {
  width: calc(25% - 10px);
  background-color: #ffffff;
  height: calc(25% - 10px);
  border-radius: 20px;
  font-size: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  width: 100%;
  background-color: #010101;
  color: azure;
  font-size: 1.5rem;
  padding: 10px;
  display: flex;
  min-height: 5vh;
}
footer .wrapper_footer {
  width: 1920px;
  margin: 0 auto;
}
footer .wrapper_footer .footer__author {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .wrapper_footer .footer__author .rschool {
  width: 50px;
}
footer .wrapper_footer .footer__author .github {
  width: 20px;
}

/*# sourceMappingURL=style.css.map */
