html {
  font-size: 10px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  @extend %font-headline;
  @include font($size: 1.6rem, $height: 2.6rem, $weight: normal);
}

h1 {
  @extend %font-text;
  @include font($height: 5.4rem, $size: 4.4rem);
}

h2 {
  @include font($size: 3.4rem, $height: 4.6rem);
}

h3 {
  @include font($size: 2.4rem, $height: 3.4rem);
}