* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s ease-out;
  font-family: "Montserrat", sans-serif;
}

html {
  font-size: 10px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}

header {
  width: 100%;
  height: 100px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
header .wrapper_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 1280px;
}
@media (max-width: 768px) {
  header .wrapper_header {
    height: 100%;
    justify-content: center;
    align-content: space-around;
  }
}
header .wrapper_header .header__logo {
  font-size: 4rem;
}
header .wrapper_header .header__form {
  position: relative;
  margin-right: 5px;
}
header .wrapper_header .header__form .header__form__input {
  width: 350px;
  border-radius: 25px;
  height: 40px;
  border: 2px solid gray;
  outline: none;
  padding: 0 10px;
  font-size: 2rem;
  background-color: transparent;
}
header .wrapper_header .header__form .header__form__input:hover {
  border: none;
  outline: 5px solid #ff5722;
}
header .wrapper_header .header__form .header__form__input:focus {
  border: none;
  outline: 5px solid #ff5722;
  background-color: transparent;
}
header .wrapper_header .header__form .header__form__cross {
  width: 20px;
  height: 20px;
  background: url(../svg/cross.svg) center;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  position: absolute;
  top: 10px;
  right: 50px;
  cursor: pointer;
  filter: contrast(0%);
}
header .wrapper_header .header__form .header__form__cross:hover {
  background-image: url(../svg/cross-hover.svg);
  filter: contrast(100%);
}
header .wrapper_header .header__form .display-none {
  display: none;
}
header .wrapper_header .header__form .header__form__button {
  width: 30px;
  height: 30px;
  background: url(../svg/button.svg) center;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  position: absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;
}
header .wrapper_header .header__form .header__form__button:hover {
  background-image: url(../svg/button-hover.svg);
}
header::after {
  content: "";
  width: 100%;
  height: 5px;
  background-color: #ff5722;
  position: absolute;
  bottom: -10px;
}

main {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 2;
}
main .wrapper_main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 1280px;
  padding-bottom: 20px;
  height: 100%;
}
main .wrapper_main .main__image {
  height: 214px;
  width: 380px;
  margin-top: 20px;
  background: url(../photo-1517849845537-4d257902454a.jpg) center;
  background-size: cover;
  background-repeat: no-repeat;
  flex-shrink: 0;
}
@media (max-width: 768px) {
  main .wrapper_main .main__image {
    width: 100%;
  }
}

footer {
  width: 100%;
  background-color: #010101;
  color: azure;
  font-size: 1.5rem;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .wrapper_footer {
  width: 1280px;
  margin: 0 auto;
}
footer .wrapper_footer .footer__author {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .wrapper_footer .footer__author .rschool {
  width: 50px;
}
footer .wrapper_footer .footer__author .github {
  width: 20px;
}

/*# sourceMappingURL=style.css.map */
