* {
  transition: all 0.3s ease-out;
}

.header .header__wrapper .buy_card .buy_card__tittle .buy_card__tittle__text, .header .header__wrapper .profile .profile__content .profile__content__tittle, .header .header__wrapper .header__modal__login .modal__title__login, .header .header__wrapper .header__modal .modal__title, .welcome__text, h3, h2, h1 {
  font-family: "Forum", serif;
}

.library-card .library-card__content .digital-card .library-form .digit-button .info-reader .info-reader__block .info-reader__block__title, .contacts__content .contacts__text__director, .contacts__content .contacts__text__address, .favorites__content .favorites__content__cards .card__button, .header .header__wrapper .buy_card .buy_card__content .buy_card__content__text, .header .header__wrapper .buy_card .buy_card__content .buy_card__content__form .form_footer .form_footer__cost, .header .header__wrapper .buy_card .buy_card__content .buy_card__content__form .form__card_number__error, .header .header__wrapper .buy_card .buy_card__content .buy_card__content__form .form__card_number, .header .header__wrapper .profile .profile__content .profile__content__card, .header .header__wrapper .profile .profile__content .rented_books .list_books .list_books__item, .header .header__wrapper .profile .profile__content .profile__content__rented, .header .header__wrapper .profile .profile__content .profile__content__info-reader .info-reader__block .info-reader__block__count, .header .header__wrapper .profile .profile__content .profile__content__info-reader .info-reader__block .info-reader__block__title, .header .header__wrapper .profile .profile__icon .icon__full_name, .header .header__wrapper .profile .profile__icon .icon__sqrt, .header .header__wrapper .header__modal__login .modal__text__login .modal__text__link__login .link__register, .header .header__wrapper .header__modal__login .modal__text__login .modal__text__register, .header .header__wrapper .header__modal__login .modal__form__login .form__input__error__login, .header .header__wrapper .header__modal__login .modal__form__login, .header .header__wrapper .header__modal .modal__text .modal__text__link .link__login, .header .header__wrapper .header__modal .modal__text .modal__text__login, .header .header__wrapper .header__modal .modal__form .form__input__error, .header .header__wrapper .header__modal .modal__form, .header .header__wrapper .header__content .header__drop-menu .drop-menu__text, .header .header__wrapper .header__content .header__drop-menu .drop-menu__title, .header .header__wrapper .header__content .header__profile .user-visit, .header .header__wrapper .header__content .header__navigation .navigation .navigation__item__link, body {
  font-family: "Inter", sans-serif;
}

.display-none, .favorites__radio .radio__content input[type=radio] {
  display: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  font-size: 2rem;
  line-height: 4rem;
  font-weight: normal;
  color: #000000;
  margin: 0 auto;
  overflow-x: hidden;
}
body.lock {
  overflow: hidden;
}

h1 {
  font-size: 3rem;
  line-height: 5rem;
  font-weight: normal;
  color: #FFFFFF;
  letter-spacing: 0.6px;
}

h2 {
  font-size: 4rem;
  line-height: 4rem;
  font-weight: normal;
  color: #0C0C0E;
  letter-spacing: 2px;
}

h3 {
  font-size: 2rem;
  line-height: 4rem;
  font-weight: normal;
  color: #0C0C0E;
}

.wrapper {
  max-width: 1400px;
  margin: 0 auto;
}

.welcome__text {
  font-size: 4rem;
  line-height: 5rem;
  font-weight: normal;
  color: #FFFFFF;
  letter-spacing: 3px;
}

.header {
  background-color: #0C0C0E;
  padding: 20px 0;
  display: flex;
  align-items: center;
}
.header .header__wrapper {
  display: flex;
  justify-content: space-between;
  width: 1400px;
}
@media (max-width: 768px) {
  .header .header__wrapper {
    padding: 0 20px;
  }
}
.header .header__wrapper .header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 652px;
  position: relative;
}
@media (max-width: 1024px) {
  .header .header__wrapper .header__content {
    width: 113px;
    z-index: 5;
  }
}
@media (max-width: 1024px) {
  .header .header__wrapper .header__content .header__navigation {
    position: absolute;
    top: 70px;
    left: -1000%;
    background-color: rgba(12, 12, 14, 0.8);
  }
}
.header .header__wrapper .header__content .header__navigation.active {
  left: calc(100% - 312px);
}
.header .header__wrapper .header__content .header__navigation .navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  width: 584px;
}
@media (max-width: 1024px) {
  .header .header__wrapper .header__content .header__navigation .navigation {
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 100px;
    height: 480px;
    width: 332px;
    background-color: #0C0C0E;
  }
}
.header .header__wrapper .header__content .header__navigation .navigation .navigation__item__link {
  font-size: 2rem;
  line-height: 5rem;
  font-weight: normal;
  color: #FFFFFF;
  text-decoration: none;
}
.header .header__wrapper .header__content .header__navigation .navigation .navigation__item__link:hover {
  color: #BB945F;
  text-decoration: underline;
}
.header .header__wrapper .header__content .table-wrapper-burger {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1024px) {
  .header .header__wrapper .header__content .table-wrapper-burger {
    width: 113px;
  }
}
.header .header__wrapper .header__content .header__profile {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.header .header__wrapper .header__content .header__profile .user-visit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: #FFFFFF;
  color: #BB945F;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: normal;
}
.header .header__wrapper .header__content .header__profile .display-none {
  display: none;
}
.header .header__wrapper .header__content .header__burger {
  width: 45px;
  height: 20px;
  position: relative;
  z-index: 6;
  cursor: pointer;
  display: none;
}
@media (max-width: 1024px) {
  .header .header__wrapper .header__content .header__burger {
    display: block;
  }
}
.header .header__wrapper .header__content .header__burger span {
  position: absolute;
  top: calc(50% - 1px);
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #FFFFFF;
}
.header .header__wrapper .header__content .header__burger span:first-child {
  top: 0;
}
.header .header__wrapper .header__content .header__burger span:last-child {
  bottom: 0;
  top: auto;
}
.header .header__wrapper .header__content .header__burger.active span {
  transform: scale(0);
}
.header .header__wrapper .header__content .header__burger.active span:first-child {
  transform: rotate(-45deg);
  top: calc(50% - 1px);
}
.header .header__wrapper .header__content .header__burger.active span:last-child {
  bottom: calc(50% - 1px);
  transform: rotate(45deg);
}
.header .header__wrapper .header__content .header__drop-menu {
  position: absolute;
  width: 80px;
  height: 115px;
  background-color: #FFFFFF;
  top: 50px;
  left: -1000%;
  z-index: 6;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5px;
}
.header .header__wrapper .header__content .header__drop-menu.drop-menu__active {
  left: calc(100% - 80px);
}
@media (max-width: 1024px) {
  .header .header__wrapper .header__content .header__drop-menu.drop-menu__active {
    left: 0;
  }
}
.header .header__wrapper .header__content .header__drop-menu .drop-menu__title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
  position: relative;
}
.header .header__wrapper .header__content .header__drop-menu .drop-menu__title::after {
  content: "";
  position: absolute;
  background-color: #BB945F;
  width: 40px;
  height: 2px;
  bottom: -5px;
  left: 4px;
}
.header .header__wrapper .header__content .header__drop-menu .drop-menu__text {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: normal;
  margin-bottom: 10px;
  cursor: pointer;
}
.header .header__wrapper .header__content .header__drop-menu .drop-menu__text:hover {
  color: #BB945F;
}
.header .header__wrapper .header__modal {
  position: fixed;
  width: 250px;
  height: 382px;
  z-index: 6;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: calc(50% - 191px);
  left: calc(50% - 125px);
  padding-top: 20px;
}
.header .header__wrapper .header__modal .modal__cross {
  width: 15px;
  height: 15px;
  position: absolute;
  right: 15px;
  top: 15px;
  z-index: 6;
  cursor: pointer;
  display: block;
}
.header .header__wrapper .header__modal .modal__cross span {
  position: absolute;
  top: calc(50% - 1px);
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #0C0C0E;
}
.header .header__wrapper .header__modal .modal__cross span:first-child {
  transform: rotate(-45deg);
  top: calc(50% - 1px);
}
.header .header__wrapper .header__modal .modal__cross span:last-child {
  bottom: calc(50% - 1px);
  transform: rotate(45deg);
}
.header .header__wrapper .header__modal .modal__title {
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 400;
  letter-spacing: 0.4px;
  margin-bottom: 20px;
}
.header .header__wrapper .header__modal .modal__form {
  width: 200px;
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: normal;
  letter-spacing: 0.3px;
}
.header .header__wrapper .header__modal .modal__form > label {
  margin-bottom: 10px;
}
.header .header__wrapper .header__modal .modal__form .form__input__error {
  height: 10px;
  color: red;
  font-size: 1rem;
  line-height: 1rem;
  font-weight: normal;
  letter-spacing: 0.3px;
}
.header .header__wrapper .header__modal .modal__form > input {
  height: 20px;
  border: 1px solid #BB945F;
  padding: 0 5px;
}
.header .header__wrapper .header__modal .modal__form > input:hover {
  border: 2px solid #BB945F;
}
.header .header__wrapper .header__modal .modal__form > input:focus {
  outline-color: #BB945F;
}
.header .header__wrapper .header__modal .modal__form .form__button {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #FFFFFF;
  width: 75px;
  height: 30px;
  border-radius: 2px;
  border: 1px solid #0C0C0E;
  font-family: Inter;
  font-size: 10px;
  font-weight: 700;
  letter-spacing: 1px;
  cursor: pointer;
}
.header .header__wrapper .header__modal .modal__form .form__button:hover {
  color: #0C0C0E;
  background: #BB945F;
  border: 1px solid #BB945F;
}
.header .header__wrapper .header__modal .modal__text {
  width: 164px;
  height: 10px;
  display: flex;
  justify-content: space-between;
  align-self: flex-start;
  margin-left: 25px;
}
.header .header__wrapper .header__modal .modal__text .modal__text__login {
  font-size: 1rem;
  line-height: 1rem;
  font-weight: normal;
}
.header .header__wrapper .header__modal .modal__text .modal__text__link {
  font-size: 1rem;
  line-height: 1rem;
  font-weight: normal;
}
.header .header__wrapper .header__modal .modal__text .modal__text__link .link__login {
  color: #000000;
  font-size: 1rem;
  line-height: 1rem;
  font-weight: bold;
  letter-spacing: 1px;
}
.header .header__wrapper .header__modal .modal__text .modal__text__link .link__login:hover {
  color: #BB945F;
}
.header .header__wrapper .header__modal.display-none {
  display: none;
}
.header .header__wrapper .header__modal__login {
  position: fixed;
  width: 250px;
  height: 262px;
  z-index: 6;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: calc(50% - 191px);
  left: calc(50% - 125px);
  padding-top: 20px;
}
.header .header__wrapper .header__modal__login .modal__cross__login {
  width: 15px;
  height: 15px;
  position: absolute;
  right: 15px;
  top: 15px;
  z-index: 6;
  cursor: pointer;
  display: block;
}
.header .header__wrapper .header__modal__login .modal__cross__login span {
  position: absolute;
  top: calc(50% - 1px);
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #0C0C0E;
}
.header .header__wrapper .header__modal__login .modal__cross__login span:first-child {
  transform: rotate(-45deg);
  top: calc(50% - 1px);
}
.header .header__wrapper .header__modal__login .modal__cross__login span:last-child {
  bottom: calc(50% - 1px);
  transform: rotate(45deg);
}
.header .header__wrapper .header__modal__login .modal__title__login {
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 400;
  letter-spacing: 0.4px;
  margin-bottom: 20px;
}
.header .header__wrapper .header__modal__login .modal__form__login {
  width: 200px;
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: normal;
  letter-spacing: 0.3px;
}
.header .header__wrapper .header__modal__login .modal__form__login > label {
  margin-bottom: 10px;
}
.header .header__wrapper .header__modal__login .modal__form__login .form__input__error__login {
  height: 10px;
  color: red;
  font-size: 1rem;
  line-height: 1rem;
  font-weight: normal;
  letter-spacing: 0.3px;
}
.header .header__wrapper .header__modal__login .modal__form__login > input {
  height: 20px;
  border: 1px solid #BB945F;
  padding: 0 5px;
}
.header .header__wrapper .header__modal__login .modal__form__login > input:hover {
  border: 2px solid #BB945F;
}
.header .header__wrapper .header__modal__login .modal__form__login > input:focus {
  outline-color: #BB945F;
}
.header .header__wrapper .header__modal__login .modal__form__login .form__button__login {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #FFFFFF;
  width: 75px;
  height: 30px;
  border-radius: 2px;
  border: 1px solid #0C0C0E;
  font-family: Inter;
  font-size: 10px;
  font-weight: 700;
  letter-spacing: 1px;
  cursor: pointer;
}
.header .header__wrapper .header__modal__login .modal__form__login .form__button__login:hover {
  color: #0C0C0E;
  background: #BB945F;
  border: 1px solid #BB945F;
}
.header .header__wrapper .header__modal__login .modal__text__login {
  width: 164px;
  height: 10px;
  display: flex;
  justify-content: space-between;
  align-self: flex-start;
  margin-left: 25px;
}
.header .header__wrapper .header__modal__login .modal__text__login .modal__text__register {
  font-size: 1rem;
  line-height: 1rem;
  font-weight: normal;
}
.header .header__wrapper .header__modal__login .modal__text__login .modal__text__link__login {
  font-size: 1rem;
  line-height: 1rem;
  font-weight: normal;
}
.header .header__wrapper .header__modal__login .modal__text__login .modal__text__link__login .link__register {
  color: #000000;
  font-size: 1rem;
  line-height: 1rem;
  font-weight: bold;
  letter-spacing: 1px;
}
.header .header__wrapper .header__modal__login .modal__text__login .modal__text__link__login .link__register:hover {
  color: #BB945F;
}
.header .header__wrapper .header__modal__login.display-none {
  display: none;
}
.header .header__wrapper .profile {
  width: 600px;
  height: 400px;
  position: fixed;
  z-index: 6;
  background-color: #FFFFFF;
  display: flex;
  top: calc(50% - 200px);
  left: calc(50% - 300px);
}
.header .header__wrapper .profile .profile__cross {
  width: 15px;
  height: 15px;
  position: absolute;
  right: 25px;
  top: 25px;
  z-index: 6;
  cursor: pointer;
  display: block;
}
.header .header__wrapper .profile .profile__cross span {
  position: absolute;
  top: calc(50% - 1px);
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #0C0C0E;
}
.header .header__wrapper .profile .profile__cross span:first-child {
  transform: rotate(-45deg);
  top: calc(50% - 1px);
}
.header .header__wrapper .profile .profile__cross span:last-child {
  bottom: calc(50% - 1px);
  transform: rotate(45deg);
}
.header .header__wrapper .profile .profile__icon {
  width: 170px;
  background-color: #0C0C0E;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header .header__wrapper .profile .profile__icon .icon__sqrt {
  width: 80px;
  height: 80px;
  background-color: #FFFFFF;
  color: #BB945F;
  font-size: 2rem;
  line-height: 2rem;
  font-weight: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}
.header .header__wrapper .profile .profile__icon .icon__full_name {
  width: 120px;
  min-height: 30px;
  font-size: 2rem;
  line-height: 2rem;
  font-weight: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
  word-wrap: break-word;
}
.header .header__wrapper .profile .profile__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;
}
.header .header__wrapper .profile .profile__content .profile__content__tittle {
  letter-spacing: 0.8px;
  font-size: 4rem;
  line-height: 4rem;
  font-weight: 400;
  margin-bottom: 30px;
}
.header .header__wrapper .profile .profile__content .profile__content__info-reader {
  width: 237px;
  height: 81px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 18px;
}
.header .header__wrapper .profile .profile__content .profile__content__info-reader .info-reader__block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.header .header__wrapper .profile .profile__content .profile__content__info-reader .info-reader__block .info-reader__block__title {
  letter-spacing: 0.4px;
  font-size: 2rem;
  line-height: 2rem;
  font-weight: normal;
}
.header .header__wrapper .profile .profile__content .profile__content__info-reader .info-reader__block .info-reader__block__img {
  width: 20px;
  height: 21px;
}
.header .header__wrapper .profile .profile__content .profile__content__info-reader .info-reader__block .info-reader__block__count {
  letter-spacing: 0.2px;
  font-size: 1rem;
  line-height: 2rem;
  font-weight: normal;
}
.header .header__wrapper .profile .profile__content .profile__content__rented {
  font-size: 2.5rem;
  line-height: 2.5rem;
  font-weight: normal;
  margin-bottom: 27px;
}
.header .header__wrapper .profile .profile__content .rented_books {
  width: 390px;
  height: 90px;
  overflow-y: auto;
  margin-bottom: 10px;
  padding-left: 25px;
}
.header .header__wrapper .profile .profile__content .rented_books .list_books {
  display: flex;
  flex-direction: column;
}
.header .header__wrapper .profile .profile__content .rented_books .list_books .list_books__item {
  letter-spacing: 2px;
  font-size: 2rem;
  line-height: 2rem;
  font-weight: normal;
  margin-bottom: 10px;
}
.header .header__wrapper .profile .profile__content .profile__content__card {
  display: flex;
  justify-content: space-between;
  width: 281px;
  font-size: 2rem;
  line-height: 2rem;
  font-weight: normal;
}
.header .header__wrapper .profile .profile__content .profile__content__card .card__number {
  color: #BB945F;
}
.header .header__wrapper .profile .profile__content .profile__content__card .card__copy {
  cursor: pointer;
}
.header .header__wrapper .profile.display-none {
  display: none;
}
.header .header__wrapper .buy_card {
  width: 640px;
  height: 540px;
  position: fixed;
  z-index: 6;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  top: calc(50% - 270px);
  left: calc(50% - 320px);
}
.header .header__wrapper .buy_card .buy_card__cross {
  width: 15px;
  height: 15px;
  position: absolute;
  right: 25px;
  top: 25px;
  z-index: 6;
  cursor: pointer;
  display: block;
}
.header .header__wrapper .buy_card .buy_card__cross span {
  position: absolute;
  top: calc(50% - 1px);
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #FFFFFF;
}
.header .header__wrapper .buy_card .buy_card__cross span:first-child {
  transform: rotate(-45deg);
  top: calc(50% - 1px);
}
.header .header__wrapper .buy_card .buy_card__cross span:last-child {
  bottom: calc(50% - 1px);
  transform: rotate(45deg);
}
.header .header__wrapper .buy_card .buy_card__tittle {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 60px;
  background-color: #0C0C0E;
  margin-bottom: 30px;
}
.header .header__wrapper .buy_card .buy_card__tittle .buy_card__tittle__text {
  letter-spacing: 0.8px;
  text-transform: uppercase;
  font-size: 4rem;
  line-height: 4rem;
  font-weight: normal;
  color: #FFFFFF;
}
.header .header__wrapper .buy_card .buy_card__content {
  display: flex;
  justify-content: center;
}
.header .header__wrapper .buy_card .buy_card__content .buy_card__content__form {
  display: flex;
  flex-direction: column;
  width: 200px;
}
.header .header__wrapper .buy_card .buy_card__content .buy_card__content__form .form__card_number {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: normal;
  letter-spacing: 0.3px;
  margin-bottom: 10px;
}
.header .header__wrapper .buy_card .buy_card__content .buy_card__content__form .form__card_number__error {
  height: 10px;
  color: red;
  font-size: 1rem;
  line-height: 1rem;
  font-weight: normal;
  letter-spacing: 0.3px;
}
.header .header__wrapper .buy_card .buy_card__content .buy_card__content__form .form__card_number_input {
  height: 20px;
  border: 1px solid #BB945F;
  padding: 0 5px;
}
.header .header__wrapper .buy_card .buy_card__content .buy_card__content__form .form__card_number_input:hover {
  border: 2px solid #BB945F;
}
.header .header__wrapper .buy_card .buy_card__content .buy_card__content__form .form__card_number_input:focus {
  outline-color: #BB945F;
}
.header .header__wrapper .buy_card .buy_card__content .buy_card__content__form .expiration_code {
  display: flex;
  justify-content: space-between;
  width: 100px;
}
.header .header__wrapper .buy_card .buy_card__content .buy_card__content__form .expiration_code .expiration {
  width: 45px;
}
.header .header__wrapper .buy_card .buy_card__content .buy_card__content__form .cvc {
  width: 45px;
}
.header .header__wrapper .buy_card .buy_card__content .buy_card__content__form .form_footer {
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 188px;
}
.header .header__wrapper .buy_card .buy_card__content .buy_card__content__form .form_footer .form_footer__button {
  background-color: #FFFFFF;
  width: 75px;
  height: 30px;
  border-radius: 2px;
  border: 1px solid #0C0C0E;
  font-family: Inter;
  font-size: 10px;
  font-weight: 700;
  letter-spacing: 1px;
  cursor: pointer;
}
.header .header__wrapper .buy_card .buy_card__content .buy_card__content__form .form_footer .form_footer__button:hover {
  color: #0C0C0E;
  background: #BB945F;
  border: 1px solid #BB945F;
}
.header .header__wrapper .buy_card .buy_card__content .buy_card__content__form .form_footer .form_footer__cost {
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.header .header__wrapper .buy_card .buy_card__content .buy_card__content__text {
  width: 330px;
  color: #8E8E8E;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: normal;
  letter-spacing: 2px;
  padding-left: 40px;
}
.header .header__wrapper .buy_card.display-none {
  display: none;
}
.header .header__wrapper .tablet__wrapper {
  display: none;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(12, 12, 14, 0.5);
  z-index: 4;
}
.header .header__wrapper .tablet__wrapper.display-none {
  display: none;
}

.welcome {
  position: relative;
  background-image: url("../img/background/welcome.jpg");
  background-size: 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  padding-bottom: 160px;
  padding-top: 220px;
  z-index: 1;
}
.welcome::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 50%;
  background: linear-gradient(180deg, #0C0C0E 0%, #0C0C0E 0.01%, rgba(18, 18, 21, 0.1) 100%);
  z-index: 2;
}
.welcome .welcome__text {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 220px;
  letter-spacing: 3px;
  text-align: center;
  text-transform: uppercase;
  background: #0C0C0E;
  z-index: 3;
}

@media (max-width: 768px) {
  .wrapper__about {
    padding: 0 20px;
  }
}

.headline {
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 61px;
  text-align: center;
  position: relative;
}
.headline::after {
  content: "";
  position: absolute;
  background: #8E8E8E;
  width: 50px;
  height: 1px;
  bottom: -20px;
  left: calc(50% - 25px);
}

.description {
  margin-bottom: 20px;
  text-align: center;
}

.slider {
  overflow: hidden;
  position: relative;
}
.slider .slider__content {
  display: flex;
  justify-content: space-between;
  width: 167.86%;
  height: 560px;
  margin-bottom: 35px;
}
@media (max-width: 768px) {
  .slider .slider__content {
    margin-left: 19%;
    width: 397.52%;
  }
}
.slider .slider__content .slider__image {
  width: 19.15%;
}
@media (max-width: 768px) {
  .slider .slider__content .slider__image {
    width: 15.6%;
  }
}
.slider .slider__content__button {
  height: 560px;
  width: 70px;
  cursor: pointer;
  display: none;
}
@media (max-width: 768px) {
  .slider .slider__content__button {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.slider .left {
  position: absolute;
  top: 0;
  left: 7%;
}
.slider .right {
  position: absolute;
  top: 0;
  right: 6%;
}
.slider .slider__radio {
  height: 26px;
  margin: 0 auto;
  margin-bottom: 35px;
  display: flex;
  justify-content: center;
}
.slider .slider__radio .radio {
  width: 26px;
  height: 26px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider .slider__radio .radio:last-child {
  display: none;
}
@media (max-width: 768px) {
  .slider .slider__radio .radio:last-child {
    display: flex;
  }
}
.slider .slider__radio .radio:nth-child(4) {
  display: none;
}
@media (max-width: 768px) {
  .slider .slider__radio .radio:nth-child(4) {
    display: flex;
  }
}
.slider .slider__radio .radio .radio__circle {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #0C0C0E;
}
.slider .slider__radio .radio .checked {
  background: #BB945F;
}

@media (max-width: 768px) {
  .favorite__wrapper {
    padding: 0 20px;
  }
}

.description__bold {
  font-weight: bold;
  margin-bottom: 40px;
}

.favorites__radio {
  margin-bottom: 40px;
  max-width: 700px;
  height: 24px;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .favorites__radio {
    position: sticky;
    background-color: #FFFFFF;
    top: 0;
    z-index: 2;
  }
}
.favorites__radio .radio__content {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.favorites__radio .radio__content label {
  display: inline-block;
  cursor: pointer;
  position: relative;
}
.favorites__radio .radio__content label::before {
  content: "";
  display: inline-block;
  width: 17px;
  height: 17px;
  position: absolute;
  left: -37px;
  top: 12px;
  background: url(../img/radio/radio.svg) 0 0 no-repeat;
}
.favorites__radio .radio__content input[type=radio]:checked + label:before {
  background: url(../img/radio/radio-checked.svg) 0 0 no-repeat;
}
.favorites__radio .radio__content input[type=radio]:checked + label {
  font-weight: bold;
}
.favorites__radio .radio__content label:hover::before {
  background: url(../img/radio/radio-checked.svg) 0 0 no-repeat;
}
.favorites__radio .radio__content label:hover {
  font-weight: bold;
}
.favorites__radio .value-1 {
  width: 104px;
}
.favorites__radio .value-2 {
  width: 99px;
}
.favorites__radio .value-3 {
  width: 116px;
}
.favorites__radio .value-4 {
  width: 111px;
}

.favorites__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .favorites__content {
    justify-content: center;
  }
}
.favorites__content .favorites__content__cards {
  position: relative;
  width: 550px;
  height: 555px;
  border: 1px solid #000000;
  margin-bottom: 40px;
  margin-right: 40px;
  padding: 15px 20px;
}
.favorites__content .favorites__content__cards .card__headline {
  position: relative;
  margin-bottom: 20px;
  letter-spacing: 2px;
}
.favorites__content .favorites__content__cards .card__headline::after {
  content: "";
  position: absolute;
  width: 60px;
  border-bottom: 1px solid #BB945F;
  left: 0;
  bottom: 0;
}
.favorites__content .favorites__content__cards .card__header-bold {
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 2px;
}
.favorites__content .favorites__content__cards .card__header-bold:nth-child(2) {
  text-transform: uppercase;
}
.favorites__content .favorites__content__cards .card__header-bold:nth-child(3) {
  margin-bottom: 20px;
}
.favorites__content .favorites__content__cards .card__description {
  width: 355px;
  font-size: 1.5rem;
  letter-spacing: 2px;
}
.favorites__content .favorites__content__cards .card__button {
  position: absolute;
  bottom: 15px;
  width: 75px;
  height: 30px;
  border-radius: 2px;
  border: 1px solid #0C0C0E;
  background: #FFFFFF;
  cursor: pointer;
  color: #0C0C0E;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 1px;
}
.favorites__content .favorites__content__cards .card__button.own {
  cursor: auto;
  color: #BB945F;
  border: 1px solid #BB945F;
}
.favorites__content .favorites__content__cards .card__button:hover {
  color: #0C0C0E;
  background: #BB945F;
  border: 1px solid #BB945F;
}
.favorites__content .favorites__content__cards .button-own:hover {
  cursor: auto;
  color: #BB945F;
  background: #FFFFFF;
  border: 1px solid #BB945F;
}
.favorites__content .favorites__content__cards .card__book-skin {
  position: absolute;
  bottom: -1px;
  left: 390px;
  z-index: 1;
}

.animation {
  animation: anima 350ms backwards ease-in-out;
  opacity: 0;
}

@keyframes anima {
  from {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  to {
    opacity: 0;
  }
}
.visibility {
  animation: visibl 350ms backwards ease-in-out;
  opacity: 1;
}

@keyframes visibl {
  from {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}
@media (max-width: 768px) {
  .coffee-shop__wrapper {
    padding: 0 20px;
  }
}

.coffee-shop {
  margin-top: 20px;
}
.coffee-shop .description {
  letter-spacing: 2px;
  margin-bottom: 40px;
}
.coffee-shop .coffee-shop__menu {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.coffee-shop .coffee-shop__menu .coffee-shop__menu__eats {
  width: 438px;
}
.coffee-shop .coffee-shop__menu .coffee-shop__menu__eats .menu {
  display: flex;
  justify-content: space-between;
}
.coffee-shop .coffee-shop__menu .coffee-shop__menu__eats .menu .menu__names {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.coffee-shop .coffee-shop__menu .coffee-shop__menu__eats .menu .menu__names .menu__position {
  margin-bottom: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
}
.coffee-shop .coffee-shop__menu .coffee-shop__menu__eats .menu .menu__costs {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.coffee-shop .coffee-shop__menu .coffee-shop__menu__eats .menu .cost {
  margin-bottom: 40px;
  letter-spacing: 2px;
  position: relative;
}
.coffee-shop .coffee-shop__menu .coffee-shop__menu__eats .menu .cost::before {
  content: "";
  position: absolute;
  border-bottom: 1px solid #BB945F;
  width: 100px;
  left: -540%;
  top: 50%;
}
.coffee-shop .coffee-shop__menu .coffee-shop__menu__eats .menu .cost__desert {
  margin-bottom: 40px;
  letter-spacing: 2px;
  position: relative;
}
.coffee-shop .coffee-shop__menu .coffee-shop__menu__eats .menu .cost__desert::before {
  content: "";
  position: absolute;
  border-bottom: 1px solid #BB945F;
  width: 100px;
  left: -391%;
  top: 50%;
}
.coffee-shop .coffee-shop__menu .coffee-shop__menu__eats .headline-menu {
  font-size: 4rem;
  letter-spacing: 2px;
  color: #BB945F;
  margin-bottom: 40px;
}
.coffee-shop .coffee-shop__menu .desert__menu {
  width: 482px;
}
@media (max-width: 768px) {
  .coffee-shop .coffee-shop__menu .desert__menu {
    flex-grow: 1;
  }
}
.coffee-shop .coffee-shop__menu .desert__menu .headline__desert {
  text-align: right;
}
@media (max-width: 768px) {
  .coffee-shop .coffee-shop__menu .desert__menu .deserts__names {
    width: 66%;
  }
}
.coffee-shop .coffee-shop__menu .desert__menu .desert {
  text-align: right;
}

@media (max-width: 768px) {
  .contacts__wrapper {
    padding: 0 20px;
  }
}

.our__contacts {
  margin-top: 20px;
}

.contacts__content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 40px;
}
.contacts__content .contacts__text__address {
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: capitalize;
  margin-bottom: 40px;
}
.contacts__content .address {
  letter-spacing: 2px;
  text-transform: capitalize;
  margin-bottom: 20px;
}
.contacts__content .address .address_tel {
  text-decoration: none;
  color: #000000;
}
.contacts__content .address .address_tel:hover {
  color: #BB945F;
}
.contacts__content .address:nth-child(4) {
  margin-bottom: 40px;
}
.contacts__content .contacts__text__director {
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: capitalize;
  margin-bottom: 20px;
}
.contacts__content .director__library {
  letter-spacing: 2px;
  text-transform: capitalize;
}
.contacts__content .director__library .director__mail {
  text-decoration: none;
  color: #000000;
  font-weight: bold;
}
.contacts__content .director__library .director__mail:hover {
  color: #BB945F;
}
@media (max-width: 768px) {
  .contacts__content .contacts__map {
    margin-top: 100px;
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .library-card__wrapper {
    padding: 0 20px;
  }
}

.library-card {
  margin-bottom: 40px;
}
.library-card .library-card__content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  .library-card .library-card__content {
    justify-content: center;
  }
}
.library-card .library-card__content .digital-card {
  width: 600px;
}
.library-card .library-card__content .digital-card .digital-card__headline {
  font-family: Inter;
  font-size: 3rem;
  letter-spacing: 0.6px;
  text-align: center;
  margin-bottom: 30px;
}
.library-card .library-card__content .digital-card .library-form {
  padding-top: 20px;
  width: 600px;
  height: 386px;
  border: 3px solid #BB945F;
  box-shadow: 1px 5px 5px #8E8E8E;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.library-card .library-card__content .digital-card .library-form .library-form__container {
  width: 560px;
  background: #BB945F;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  padding: 20px 20px 0px 20px;
}
.library-card .library-card__content .digital-card .library-form .library-form__container .form-headline {
  font-family: Forum;
  font-size: 3rem;
  font-weight: 400;
  line-height: 5rem;
  letter-spacing: 0.6px;
  margin-bottom: 20px;
}
.library-card .library-card__content .digital-card .library-form .library-form__container .form__reader-name {
  color: #BB945F;
  width: 520px;
  border-radius: 10px;
  border: none;
  margin-bottom: 25px;
  font-family: Forum;
  font-size: 3rem;
  line-height: 5rem;
  letter-spacing: 0.6px;
  padding: 8px 0px 8px 20px;
}
.library-card .library-card__content .digital-card .library-form .library-form__container .form__reader-name:hover {
  outline: 10px solid #BB945F;
}
.library-card .library-card__content .digital-card .library-form .library-form__container .form__reader-name::placeholder {
  color: #8E8E8E;
}
.library-card .library-card__content .digital-card .library-form .library-form__container .form__reader-name:focus {
  outline-color: #BB945F;
}
.library-card .library-card__content .digital-card .library-form .library-form__container .form__number-card {
  color: #BB945F;
  width: 520px;
  border-radius: 10px;
  border: none;
  font-family: Forum;
  font-size: 3rem;
  line-height: 5rem;
  letter-spacing: 0.6px;
  padding: 8px 0px 8px 20px;
  margin-bottom: 25px;
}
.library-card .library-card__content .digital-card .library-form .library-form__container .form__number-card:hover {
  outline: 10px solid #BB945F;
}
.library-card .library-card__content .digital-card .library-form .library-form__container .form__number-card::placeholder {
  color: #8E8E8E;
}
.library-card .library-card__content .digital-card .library-form .library-form__container .form__number-card:focus {
  outline-color: #BB945F;
}
.library-card .library-card__content .digital-card .library-form .digit-button {
  padding-top: 5px;
}
.library-card .library-card__content .digital-card .library-form .digit-button .info-reader {
  width: 169px;
  height: 63px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 23px;
}
.library-card .library-card__content .digital-card .library-form .digit-button .info-reader .info-reader__block {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.library-card .library-card__content .digital-card .library-form .digit-button .info-reader .info-reader__block .info-reader__block__title {
  font-size: 1rem;
  line-height: 1rem;
  font-weight: normal;
  letter-spacing: 0.2px;
  text-align: center;
}
.library-card .library-card__content .digital-card .library-form .digit-button .info-reader .info-reader__block .info-reader__block__img {
  width: 20px;
  height: 21px;
}
.library-card .library-card__content .digital-card .library-form .digit-button .info-reader.display-none {
  display: none;
}
.library-card .library-card__content .digital-card .library-form .digit-button .form-button {
  border-radius: 2px;
  border: 1px solid #0C0C0E;
  background: #FFFFFF;
  height: 44px;
  width: 242px;
  font-family: Inter;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 1px;
  margin-bottom: 30px;
  cursor: pointer;
}
.library-card .library-card__content .digital-card .library-form .digit-button .form-button:hover {
  color: #0C0C0E;
  background: #BB945F;
  border: 1px solid #BB945F;
}
.library-card .library-card__content .digital-card .library-form .digit-button .form-button.display-none {
  display: none;
}
.library-card .library-card__content .digital-card .library-form .digit-button.information {
  padding-top: 0;
}
.library-card .library-card__content .get-digital-card {
  width: 456px;
  text-align: right;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
@media (max-width: 768px) {
  .library-card .library-card__content .get-digital-card {
    align-items: center;
    padding-top: 21px;
    width: 600px;
  }
}
.library-card .library-card__content .get-digital-card .get-digital-card__headline {
  margin-bottom: 35px;
  font-family: Forum;
  font-size: 3rem;
  letter-spacing: 0.6px;
}
.library-card .library-card__content .get-digital-card .get-digital-card__text {
  margin-bottom: 35px;
  font-family: Inter;
  font-size: 2rem;
  line-height: 4rem;
  letter-spacing: 0.4px;
}
@media (max-width: 768px) {
  .library-card .library-card__content .get-digital-card .get-digital-card__text {
    text-align: center;
  }
}
.library-card .library-card__content .get-digital-card .get-digital-card__buttons {
  display: flex;
  justify-content: space-between;
  width: 170px;
}
.library-card .library-card__content .get-digital-card .get-digital-card__buttons .get-digital-card__buttons__link {
  width: 75px;
  height: 30px;
  color: #0C0C0E;
  font-family: Inter;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 1px;
  border-radius: 2px;
  border: 1px solid #0C0C0E;
  background: #FFFFFF;
  text-align: center;
  cursor: pointer;
}
.library-card .library-card__content .get-digital-card .get-digital-card__buttons .get-digital-card__buttons__link:hover {
  color: #0C0C0E;
  background: #BB945F;
  border: 1px solid #BB945F;
}

.footer {
  background: #0C0C0E;
  display: flex;
  padding-top: 20px;
  padding-bottom: 44px;
  color: #FFFFFF;
}
.footer .footer__wrapper {
  width: 1400px;
  display: flex;
  flex-direction: column;
}
@media (max-width: 768px) {
  .footer .footer__wrapper {
    padding: 0 20px;
  }
}
.footer .footer__wrapper .footer__text-company {
  display: flex;
  justify-content: space-between;
  margin-bottom: 74px;
  position: relative;
}
.footer .footer__wrapper .footer__text-company::after {
  content: "";
  position: absolute;
  width: 100%;
  border-bottom: 1px solid #FFFFFF;
  bottom: -30px;
}
.footer .footer__wrapper .footer__text-company .full-address {
  width: 229px;
  margin-bottom: 18px;
  line-height: 2rem;
}
.footer .footer__wrapper .footer__text-company .full-address .full-address__link {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 1.5rem;
}
.footer .footer__wrapper .footer__text-company .full-address .full-address__link:hover {
  color: #BB945F;
}
.footer .footer__wrapper .footer__text-company .social-network {
  display: flex;
  justify-content: space-between;
  width: 102px;
}
.footer .footer__wrapper .footer__text-company .footer__work-company {
  font-size: 1.5rem;
  line-height: 2rem;
  text-align: right;
}
.footer .footer__wrapper .footer__text-company .footer__work-company .work-company__weekdays {
  margin-bottom: 10px;
}
.footer .footer__wrapper .footer__author {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 2rem;
  line-height: 2rem;
  letter-spacing: 2px;
}
.footer .footer__wrapper .footer__author .link-school {
  text-decoration: none;
  color: #FFFFFF;
}
.footer .footer__wrapper .footer__author .link-school:hover {
  color: #BB945F;
}
.footer .footer__wrapper .footer__author .author {
  display: flex;
  width: 300px;
  justify-content: space-between;
}
.footer .footer__wrapper .footer__author .author .github {
  width: 60px;
}

/*# sourceMappingURL=style.css.map */
