* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  @extend %transition;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  width: 100%;
  @extend %font-text;
  @include font($size: 2rem, $height: 4rem);
  color: $color-text;
  margin: 0 auto;
}

h1 {
  @extend %font-headline;
  @include font ($size: 3rem, $height: 5rem);
  color: $color-light;
  letter-spacing: 0.6px;
}

h2 {
  @extend %font-headline;
  @include font ($size: 4rem, $height: 4rem);
  color: $color-background;
  letter-spacing: 2px;
}

h3 {
  @extend %font-headline;
  @include font ($size: 2rem, $height: 4rem);
  color: $color-background;
}

.wrapper {
  max-width: $content-width;
  margin: 0 auto;
}

.welcome__text {
  @extend %font-headline;
  @include font ($size: 4rem, $height: 5rem);
  color: $color-light;
  letter-spacing: 3px;
}
