.header {
  background-color: $color-background;
  height: 90px;
  display: flex;
  align-items: center;

  .header__wrapper {
    display: flex;
    justify-content: space-between;

    .header__content {
      display: flex;
      justify-content: space-between;
      width: 652px;

      .navigation {
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        width: 584px;

        .navigation__item__link {
          @extend %font-text;
          @include font ($size: 2rem, $height: 5rem);
          color: $color-light;
          text-decoration: none;

          &:hover {
            color: $color-link;
            text-decoration: underline;
          }
        }
      }

      .header__profile {
        display: flex;
        align-items: center;
        cursor: pointer;      
      }
    }
  }
}