.library-card {
  margin-bottom: 40px;

  .library-card__content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .digital-card {
      width: 600px;

      .digital-card__headline {
        font-family: Inter;
        font-size: 3rem;
        letter-spacing: 0.6px;
        text-align: center;
        margin-bottom: 30px;
      }

      .library-form {
        padding-top: 20px;
        width: 600px;
        border: 3px solid #BB945F;
        box-shadow: 1px 5px 5px $color-placeholder;
        display: flex;
        flex-direction: column;
        align-items: center;

        .library-form__container {
          width: 560px;
          background: $color-link;
          margin-bottom: 20px;
          display: flex;
          flex-direction: column;
          padding: 20px 20px 0px 20px;

          .form-headline {
            font-family: Forum;
            font-size: 3rem;
            font-weight: 400;
            line-height: 5rem;
            letter-spacing: 0.6px;
            margin-bottom: 20px;
          }

          .form__reader-name {
            width: 520px;
            border-radius: 10px;
            border: none;
            margin-bottom: 25px;
            font-family: Forum;
            font-size: 3rem;
            line-height: 5rem;
            letter-spacing: 0.6px;
            padding: 8px 0px 8px 20px;

            &:hover {
              outline: 10px solid $color-link;
            }

            &::placeholder {
              color: $color-placeholder;
            }

            &:focus {
              outline-color: $color-link;
            }
          }
          
          .form__number-card {
            width: 520px;
            border-radius: 10px;
            border: none;
            font-family: Forum;
            font-size: 3rem;
            line-height: 5rem;
            letter-spacing: 0.6px;
            padding: 8px 0px 8px 20px;
            margin-bottom: 25px;

            &:hover {
              outline: 10px solid $color-link;
            }

            &::placeholder {
              color: $color-placeholder;
            }

            &:focus {
              outline-color: $color-link;
            }
          }
        }

        .form-button {
          border-radius: 2px;
          border: 1px solid #0C0C0E;
          background: $color-light;
          height: 44px;
          width: 242px;
          font-family: Inter;
          font-size: 2rem;
          font-weight: bold;
          letter-spacing: 1px;
          margin-bottom: 30px;
          cursor: pointer;

          &:hover {
            color: $color-background;
            background: $color-link;
            border: 1px solid $color-link;
          }
        }
      }
    }
    
    .get-digital-card {
      width: 456px;
      text-align: right;
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      .get-digital-card__headline {
        margin-bottom: 35px;
        font-family: Forum;
        font-size: 3rem;
        letter-spacing: 0.6px;
      }

      .get-digital-card__text {
        margin-bottom: 35px;
        font-family: Inter;
        font-size: 2rem;
        line-height: 4rem;
        letter-spacing: 0.4px;
      }

      .get-digital-card__buttons {
        display: flex;
        justify-content: space-between;
        width: 170px;

        .get-digital-card__buttons__link {
          width: 75px;
          height: 30px;
          color: #0C0C0E;
          font-family: Inter;
          font-size: 1rem;
          font-weight: bold;
          letter-spacing: 1px;
          border-radius: 2px;
          border: 1px solid #0C0C0E;
          background: $color-light;
          text-align: center;
          cursor: pointer;

          &:hover {
            color: $color-background;
            background: $color-link;
            border: 1px solid $color-link;
          }
        }
      }
    }
  }
}