.favorite__wrapper {
  @include media-tablet {
    padding: 0 20px;
  }
}

.description__bold {
  font-weight: bold;
  margin-bottom: 40px;
}

.favorites__radio {
  margin-bottom: 40px;
  max-width: 700px;
  height: 24px;
  display: flex;
  justify-content: space-between;
  @include media-tablet {
    position: sticky;
    background-color: $color-light;
    top: 0;
    z-index: 2;
  }

  .radio__content {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    

    input[type=radio] {
      @extend %display-none;
    }

    label {
      display: inline-block;
      cursor: pointer;
      position: relative;
    }

    label::before {
      content: "";
      display: inline-block;
      width: 17px;
      height: 17px;
      position: absolute;
      left: -37px;
      top: 12px;
      background: url(../img/radio/radio.svg) 0 0 no-repeat;
    }

    input[type=radio]:checked + label:before {
      background: url(../img/radio/radio-checked.svg) 0 0 no-repeat;
    }

    input[type=radio]:checked + label {
      font-weight: bold;
    }

    label:hover::before {
      background: url(../img/radio/radio-checked.svg) 0 0 no-repeat;
    }

    label:hover {
      font-weight: bold;
    }
  }

  .value-1 {
    width: 104px;
  }

  .value-2 {
    width: 99px;
  }

  .value-3 {
    width: 116px;
  }

  .value-4 {
    width: 111px;
  }
}

.favorites__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  @include media-tablet {
    justify-content: center;
  }

  .favorites__content__cards {
    position: relative;
    width: 550px;
    height: 555px;
    border: 1px solid $color-text;
    margin-bottom: 40px;
    margin-right: 40px;
    padding: 15px 20px;

    .card__headline {
      position: relative;
      margin-bottom: 20px;
      letter-spacing: 2px;

      &::after {
        content: "";
        position: absolute;
        width: 60px;
        border-bottom: 1px solid $color-link;
        left: 0;
        bottom: 0;
      }
    }

    .card__header-bold {
      font-size: 1.5rem;
      font-weight: bold;
      letter-spacing: 2px;
    }

    .card__header-bold:nth-child(2) {
      text-transform: uppercase;
    }

    .card__header-bold:nth-child(3) {
      margin-bottom: 20px;
    }

    .card__description {
      width: 355px;
      font-size: 1.5rem;
      letter-spacing: 2px;
    }

    .card__button {
      position: absolute;
      bottom: 15px;
      width: 75px;
      height: 30px;
      border-radius: 2px;
      border: 1px solid $color-background;
      background: $color-light;
      cursor: pointer;
      color: $color-background;
      text-align: center;
      @extend %font-text;
      font-size: 1rem;
      font-weight: bold;
      letter-spacing: 1px;

      &:disabled {
        cursor: auto;
        color: $color-link;
        border: 1px solid $color-link;
      }

      &:hover {
        color: $color-background;
        background: $color-link;
        border: 1px solid $color-link;
      }
    }

    .button-own:hover {
      cursor: auto;
      color: $color-link;
      background: $color-light;
      border: 1px solid $color-link;
    }

    .card__book-skin {
      position: absolute;
      bottom: -1px;
      left: 390px;
      z-index: 1;
    }
  }
}

.animation {
  animation: anima 350ms backwards ease-in-out;
  opacity: 0;
} 

@keyframes anima {
  from {opacity: 1;}
  50% {opacity: 0.5;}
  to {opacity: 0;}
}

.visibility {
  animation: visibl 350ms backwards ease-in-out;
  opacity: 1;
} 

@keyframes visibl {
  from {opacity: 0;}
  50% {opacity: 0.5;}
  to {opacity: 1;}
}

.display-none {
  @extend %display-none;
}