.header {
  background-color: $color-background;
  padding: 20px 0;
  display: flex;
  align-items: center;

  .header__wrapper {
    display: flex;
    justify-content: space-between;
    width: 1400px;
    @include media-tablet {
      padding: 0 20px;
    }

    .header__content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 652px;
      position: relative;
      @include media-burger {
        width: 113px;
        z-index: 5;
      }

      .header__navigation {
        @include media-burger {
          position: absolute;
          top: 70px;
          left: -1000%;
          background-color: rgba($color: $color-background, $alpha: 0.8);
        }

        &.active {
          left: calc(100% - 312px);
        }

        .navigation {
          display: flex;
          justify-content: space-between;
          align-items: center;
          list-style: none;
          width: 584px;
          @include media-burger {
            flex-direction: column;
            padding-top: 10px;
            padding-bottom: 100px;
            height: 480px;
            width: 332px;
            background-color: $color-background;
          }
  
          .navigation__item__link {
            @extend %font-text;
            @include font ($size: 2rem, $height: 5rem);
            color: $color-light;
            text-decoration: none;
  
            &:hover {
              color: $color-link;
              text-decoration: underline;
            }
          }
        }
      }

      .table-wrapper-burger {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include media-burger {
          width: 113px;
        }
      }
    
      .header__profile {
        display: flex;
        align-items: center;
        cursor: pointer;      
      }

      .header__burger {
        width: 45px;
        height: 20px;
        position: relative;
        z-index: 6;
        cursor: pointer;
        display: none;
        @include media-burger {
          display: block;
        }

        span {
          position: absolute;
          top: calc(50% - 1px);
          left: 0;
          width: 100%;
          height: 2px;
          background-color: $color-light;

          &:first-child {
            top: 0;
          }

          &:last-child {
            bottom: 0;
            top: auto;
          }
        }

        &.active {
          span {
            transform: scale(0);

            &:first-child {
              transform: rotate(-45deg);
              top: calc(50% - 1px);
            }
  
            &:last-child {
              bottom: calc(50% - 1px);
              transform: rotate(45deg);
            }
          }
        }
      }

      .header__drop-menu {
        position: absolute;
        width: 80px;
        height: 115px;
        background-color: $color-light;
        top: 50px;
        left: -1000%;
        z-index: 6;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 5px;
        
        &.drop-menu__active {
          left: calc(100% - 80px);
          @include media-burger {
            left: 0; 
          }
        }

        .drop-menu__title {
          @include font (1.5rem, 2rem, bold);
          @extend %font-text;
          margin-bottom: 20px;
          position: relative;

          &::after {
            content: '';
            position: absolute;
            background-color: $color-link;
            width: 40px;
            height: 2px;
            bottom: -5px;
            left: 4px;
          }
        }

        .drop-menu__text {
          @include font (1.5rem, 2rem);
          @extend %font-text;
          margin-bottom: 10px;
          cursor: pointer;

          &:hover {
            color: $color-link;
          }
        }
      }
    }
    .tablet__wrapper {
      display: none;
      @include media-burger {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: rgba($color: $color-background, $alpha: .8);
        z-index: 4;
      }

      &.display-none {
        display: none;
      }
    }
  }
}