.our__contacts {
  margin-top: 20px;
}

.contacts__content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 40px;

  .contacts__text__address {
    @extend %font-text;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: capitalize;
    margin-bottom: 40px;
  }

  .address {
    letter-spacing: 2px;
    text-transform: capitalize;
    margin-bottom: 20px;

    .address_tel {
      text-decoration: none;
      color: $color-text;

      &:hover {
        color: $color-link;
      }
    }
  }

  .address:nth-child(4) {
    margin-bottom: 40px;
  }

  .contacts__text__director {
    @extend %font-text;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: capitalize;
    margin-bottom: 20px;
  }

  .director__library {
    letter-spacing: 2px;
    text-transform: capitalize;

    .director__mail {
      text-decoration: none;
      color: $color-text;
      font-weight: bold;

      &:hover {
        color: $color-link;
      }
    }
  }
}